<div id="header">
    <div class="container">
      <nav>
        <img src="/logo.png" class="logo">
        <ul>
          <li><a href="#">Home</a></li>                    
          <li><a href="#">About</a></li>
        </ul>
      </nav>
      <div class="header-text">
        <p>{{title}}</p>
        <h1>{{greeting}}</h1>
      </div>
    </div>
  </div>


<div id="about">
  <div class="container">
    <div class="row">
      <div class="about-col-1">
        <img [src]="photoUrl">
        <button [disabled]="isButtonDisabled">Click me</button>
      </div>
      <div class="about-col-2">
        <h1 class="sub-title">About Me</h1>
        <p>My name is Arlan Maksimov, I am 20 years old. <br>I study at KBTU in the Faculty of Information Systems. I am a beginner programmer. <br>Below you can see my hobbies, studies, and goals.</p>

       <div class="tab-titles">
          <p 
            class="tab-links" 
            [class.active-link]="activeTab === 'hobbies'" 
            (click)="opentab('hobbies')">Hobbies</p>

          <p 
            class="tab-links" 
            [class.active-link]="activeTab === 'education'" 
            (click)="opentab('education')">Education</p>

          <p 
            class="tab-links" 
            [class.active-link]="activeTab === 'goals'" 
            (click)="opentab('goals')">Goals</p>
        </div>

        <div class="tab-contents" [class.active-tab]="activeTab === 'hobbies'">
          <ul>
            <li><span>Chess</span></li>
            <li><span>Billiard</span></li>
            <li><span>Ping Pong</span></li>
          </ul>
        </div>

        <div class="tab-contents" [class.active-tab]="activeTab === 'education'">
          <ul>
            <li><span>KBTU</span><br>Information of Systems</li>
          </ul>
        </div>

        <div class="tab-contents" [class.active-tab]="activeTab === 'goals'">
          <ul>
            <li><span>Senior Web-Developer</span></li>
            <li><span>Pass JS framework. Angular</span></li>
            <li><span>Return scholarship</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="social-buttons">
 
  <a href="mailto:maxarlan974@gamil.com" target="_blank" class="social-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24">
      <path d="M20 4H4c-1.1 0-2 .9-2 2v12c0 
      1.1.9 2 2 2h16c1.1 0 2-.9 
      2-2V6c0-1.1-.9-2-2-2zm0 
      4-8 5-8-5V6l8 5 8-5v2z"/>
    </svg>
  </a>

  <a href="https://github.com/Arlanzxc" target="_blank" class="social-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24">
      <path d="M12 0a12 12 0 0 0-3.8 23.4c.6.1.8-.2.8-.5v-1.7c-3.3.7-4-1.6-4-1.6-.6-1.4-1.5-1.8-1.5-1.8-1.2-.9 0-.9.1-.9 
      1.4.1 2.1 1.4 2.1 1.4 1.2 2.1 3.1 1.5 3.9 
      1.1.1-.9.5-1.5.9-1.9-2.6-.3-5.3-1.3-5.3-5.8 
      0-1.3.5-2.3 1.2-3.2-.1-.3-.5-1.5.1-3.1 0 0 1-.3 
      3.3 1.2a11.4 11.4 0 0 1 6 0C18 6.1 19 
      6.4 19 6.4c.6 1.6.2 2.8.1 3.1.8.9 
      1.2 2 1.2 3.2 0 4.6-2.7 
      5.5-5.3 5.8.5.4 1 
      1.3 1 2.6v3.9c0 
      .3.2.6.8.5A12 12 0 0 0 12 0z"/>
    </svg>
  </a>

  <a href="https://t.me/vabu_labu_dab_dab" target="_blank" class="social-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24">
      <path d="M9.9 17.4 9.8 20c.4 0 
      .6-.2.8-.5l2-1.9 4.1 
      3c.7.4 1.2.2 1.4-.7L22 
      5.3c.2-.9-.3-1.3-1-1L3.3 
      11.4c-.9.4-.9.9-.2 
      1.1l4.6 1.4 10.7-6.8c.5-.3.9-.1.5.2L9.9 
      17.4z"/>
    </svg>
  </a>
</div>

<div class="likes">
    <p>Likes: {{ likes }}</p>
    <button (click)="addLike()">Like 👍</button>
</div>

<div class="toggle">
  <button (click)="toggleMessage()">Toggle Message</button>

  @if (showMessage) {
    <p>Thank you for visiting!</p>
  }
</div>

 
<div class="form">
  <h3>Say Hello👋</h3>

  <input [(ngModel)]="name" placeholder="Enter your name">
  <p>Hello, {{ name }}</p>

  <input [(ngModel)]="email" placeholder="Leave your email">

  <button (click)="subscribe()" [disabled]="!email">Subscribe</button>

  @if (subscribed) {
    <p>Thanks, {{ email }}, we'll be in touch!</p>
  }
</div>

